.fullScreenApp {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
